@font-face {
	font-family: 'Fifaks 1.0 dev1';
	src:
		url('/fonts/Fifaks10Dev1.ttf') format('truetype'),
		url('/fonts/Fifaks10Dev1.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src:
		url('/fonts/Inter-Regular.ttf') format('truetype'),
		url('/fonts/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}