@font-face {
	font-family: 'Inter';
	src:
		url('../fonts/Inter-Regular.ttf') format('truetype'),
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pokemon-Classic';
	src: url('../fonts/Pokemon-Classic.ttf');
	src: url('../fonts/Pokemon-Classic.otf');
}