@import 'base/_variables'
@import 'base/_mixins'

*
	box-sizing: border-box
	margin: 0
	padding: 0
	text-decoration: none

body
	width: 100%
	height: 100%
	overflow-x: hidden

// header
@import 'blocks/_header'

// main
@import 'blocks/_appPhone'
@import 'blocks/_advantage'
@import 'blocks/_instruction'
@import 'blocks/_order'
@import 'blocks/_sale'

// footer
@import 'blocks/_footer'
