* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.container {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.header__wrap {
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
}

.header__nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 70px 230px 0 0;
}

.header__nav-block {
	padding: 0 15px;
}

.header__nav-block img,
.header__nav-block a {
	width: 180px;
	font-size: 60px;
}

.header__content {
	width: 100%;
	margin: 0 auto;
}

.header__content h1 {
	font-family: 'Fifaks 1.0 dev1', sans-serif;
	color: #FAE737;
	font-size: 300px;
	font-weight: 400;
	letter-spacing: 0.11em;
	text-shadow: 0px -4.35354px 97.9546px #A0A337, 0px 39.0128px 468.154px #EBE213;
}

.header__content-cup {
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	margin: -25px 227px 0 207px;
}

.header__content-sandwich {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 0 111px 54px 424px;
}

.header__content-cup img {
	width: 207px;
	height: 189px;
}

.header__content-sandwich img {
	width: 267px;
	height: 262px;
}

.phone__app {
	display: flex;
	justify-content: center;
	background-color: #F1E03B;
}

.phone__app-wrap {
	margin-top: 101px;
	padding: 0 28px 139px 28px;
}

.phone__app-wrap img {
	width: 349px;
}

.advantage {
	/* position: relative; */
	background-color: #000;
}

.advantage__wrap h2 {
	font-family: 'Fifaks 1.0 dev1', sans-serif;
	font-size: 250px;
	color: #FAE838;
}

.first-text {
	text-align: right;
	padding: 150px 200px 0 0;
}

.first-text::after {
	content: '';
	display: block;
	position: relative;
	bottom: 337px;
	left: 1035px;
	width: 102px;
	height: 102px;
	background-color: #151515;
	border: 1px solid #606060;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5);
	transform: rotate(-15.60deg);
	-webkit-transform: rotate(-15.60deg);
	-moz-transform: rotate(-15.60deg);
	-ms-transform: rotate(-15.60deg);
	-o-transform: rotate(-15.60deg);
}

.first-text::before {
	content: '';
	display: block;
	position: relative;
	width: 102px;
	height: 102px;
	top: 30px;
	left: 1034px;
	background-image: url(/icon/beverage_box.svg);
	background-size: 58px 58px;
	background-position: 24px 24px;
	background-repeat: no-repeat;
	z-index: 1;
}

.first-text h2::after{
	content: '';
	position: relative;
	left: 360px;
	display: block;
	width: 1240px;
	height: 8px;
	border-bottom: 6px solid #F9DC2C;
}

.advantage__wrap.white h2 {
	color: #fff;
}
