.advantage
	height: 100vw
	background-color: #000
	position: relative
	z-index: 99
	display: flex
	flex-direction: column
	scroll-behavior: smooth
	&__wrap-content
		display: flex
	.first-text_wrap
		display: flex
		position: absolute
		top: 20%
		.beverage_box
			position: relative
			left: 57%
			&::after
				content: ''
				display: flex
				position: absolute
				top: -1vw
				right: 23vw
				width: 5vw
				height: 5vw
				background-color: #151515
				border: 1px solid #606060
				border-radius: 10%
				box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
				transform: rotate(-15.60deg)
				z-index: 1
			&::before
				content: ""
				display: flex
				position: absolute
				top: -0.5vw
				right: 23.5vw
				width: 4vw
				height: 5vw
				background-image: url(../icon/beverage_box.svg)
				background-size: 4vw 4vw
				background-repeat: no-repeat
				z-index: 2
		.advantage__subtitle
			display: flex
			flex-direction: column
			align-items: flex-end
			.first-text
				@include Fifaks
				color: $second-color
				text-align: left
				font-size: 13vw
				padding: 2vw 0 0 65vw
				z-index: 999
				&_border
					width: 0vw
					content: ''
					border-bottom: .5vw solid #F9DC2C
	.second-text_wrap
		display: flex
		position: absolute
		top: 35%
		.sandwich_mini
			position: relative
			&::after
				content: ''
				position: absolute
				left: 17vw
				top: 0
				width: 5vw
				height: 5vw
				background-color: #151515
				border: 1px solid #606060
				border-radius: 10%
				box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
				transform: rotate(15.07deg)
				z-index: 1
			&::before
				content: ''
				position: absolute
				top: 0.5vw
				left: 17.5vw
				width: 5vw
				height: 5vw
				background-image: url(../icon/sandwich_mini.svg)
				background-size: 4vw 4vw
				background-repeat: no-repeat
				z-index: 2
		.advantage__subtitle
			display: flex
			flex-direction: column
			.second-text
				@include Fifaks
				color: #fff
				text-align: left
				font-size: 13vw
				padding: 2vw 0 0 13vw
				z-index: 999
				&_border
					width: 0vw
					content: ''
					border-bottom: .5vw solid #fff
	.third-text_wrap
		display: flex
		position: absolute
		top: 50%
		.bubble_tea
			position: relative
			&::after
				content: ''
				position: absolute
				top: -3vw
				right: 13vw
				width: 5vw
				height: 5vw
				background-color: #151515
				border: 1px solid #606060
				border-radius: 10%
				box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
				transform: rotate(-15.41deg)
				z-index: 1
			&::before
				content: ''
				position: absolute
				bottom: -2.5vw
				right: 12.5vw
				width: 5vw
				height: 5vw
				background-image: url(../icon/bubble_tea.svg)
				background-size: 4vw 4vw
				background-repeat: no-repeat
				z-index: 2
		.advantage__subtitle
			display: flex
			flex-direction: column
			align-items: flex-end
			.third-text
				@include Fifaks
				color: $second-color
				font-size: 13vw
				text-align: right
				padding: 2vw 0 0 55vw
				z-index: 999
				&_border
					width: 0vw
					content: ''
					border-bottom: .5vw solid #F9DC2C
