.advantage
	height: 100%
	background-color: #000
	overflow: hidden
	z-index: 999
	padding: 15vw 0 9vw 0
	.advantage__wrap
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-content: center
		.first-text_wrap
			height: 100%
			width: 100%
			margin-bottom: 3vw
			.beverage_box
				position: relative
				width: auto
				&::after
					content: ''
					position: absolute
					top: -1vw
					left: 67vw
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(-15.60deg)
					z-index: 1
				&::before
					content: ""
					position: absolute
					top: -0.5vw
					left: 67.5vw
					width: 4vw
					height: 4vw
					background-image: url(../icon/beverage_box.svg)
					background-size: contain
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				height: 14vw
				display: flex
				flex-direction: column
				backface-visibility: hidden
				.first-text
					@include Pokemon
					color: $second-color
					font-size: 9vw
					margin-right: 58vw
					&_border
						display: block
						width: 180vw
						margin-left: -145vw
						border-bottom: .5vw solid #F9DC2C
		.second-text_wrap
			height: 100%
			width: 100%
			margin-bottom: 3vw
			.sandwich_mini
				position: relative
				width: auto
				&::after
					content: ''
					position: absolute
					right: -15.5vw
					top: 0.5vw
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(15.07deg)
					z-index: 1
				&::before
					content: ''
					position: absolute
					top: 1vw
					right: -15vw
					width: 4vw
					height: 4vw
					background-image: url(../icon/sandwich_mini.svg)
					background-size: contain
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				height: 14vw
				display: flex
				flex-direction: column
				backface-visibility: hidden
				.second-text
					@include Pokemon
					color: #fff
					text-align: left
					font-size: 9vw
					margin-left: 60vw
					&_border
						display: block
						width: 170vw
						margin-left: 55vw
						border-bottom: .5vw solid #fff
		.third-text_wrap
			height: 100%
			width: 100%
			margin-bottom: 3vw
			.bubble_tea
				position: relative
				width: auto
				&::after
					content: ''
					position: absolute
					top: 0vw
					left: 85vw
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(342deg)
					z-index: 1
				&::before
					content: ''
					position: absolute
					top: .5vw
					left: 85.5vw
					width: 4vw
					height: 4vw
					background-image: url(../icon/bubble_tea.svg)
					background-size: contain
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				height: 14vw
				display: flex
				flex-direction: column
				backface-visibility: hidden
				.third-text
					@include Pokemon
					color: $second-color
					text-align: left
					font-size: 9vw
					margin-left: -40vw
					&_border
						display: block
						width: 160vw
						margin-left: -45vw
						border-bottom: .5vw solid #F9DC2C

@media screen and ( max-width: 500px	)
	.advantage
		padding: 12vw 0
		.advantage__wrap
			height: 35vh
			margin-bottom: 5vw
			.first-text_wrap
				.beverage_box
					&::after
						width: 8vw
						height: 8vw
					&::before
						width: 7vw
						height: 7vw
				.advantage__subtitle
					.first-text
						font-size: 12vw
			.second-text_wrap
				.sandwich_mini
					&::after
						width: 8vw
						height: 8vw
					&::before
						width: 7vw
						height: 7vw
				.advantage__subtitle
					.second-text
						font-size: 12vw
			.third-text_wrap
				.bubble_tea
					&::after
						width: 8vw
						height: 8vw
					&::before
						width: 7vw
						height: 7vw
				.advantage__subtitle
					.third-text
						font-size: 12vw
					
