.advantage
	height: 100%
	background-color: #000
	overflow: hidden
	z-index: 999
	padding: 7vw 0
	.advantage__wrap
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: stretch
		align-content: center
		.first-text_wrap
			height: 100%
			.beverage_box
				position: relative
				&::after
					content: ''
					position: absolute
					top: -3vw
					left: -11vw
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(-15.60deg)
					z-index: 1
				&::before
					content: ""
					position: absolute
					top: -2.5vw
					left: -10.5vw
					width: 4vw
					height: 5vw
					background-image: url(../icon/beverage_box.svg)
					background-size: 4vw 4vw
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				display: flex
				align-items: flex-end
				flex-direction: column
				justify-content: center
				align-content: center
				height: 14vw
				.first-text
					@include Fifaks
					color: $second-color
					font-size: 13vw
					margin: 0 0 0 65vw
					height: 100%
					&_border
						width: 160vw
						position: relative
						right: -195vw
						border-bottom: .5vw solid #F9DC2C
		.second-text_wrap
			height: 100%
			margin-top: 3vw
			.sandwich_mini
				position: relative
				&::after
					content: ''
					position: absolute
					left: 73vw
					top: 0
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(15.07deg)
					z-index: 1
				&::before
					content: ''
					position: absolute
					top: 0.5vw
					left: 73.5vw
					width: 5vw
					height: 5vw
					background-image: url(../icon/sandwich_mini.svg)
					background-size: 4vw 4vw
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				display: flex
				align-items: flex-end
				flex-direction: column
				justify-content: center
				align-content: center
				height: 14vw
				.second-text
					@include Fifaks
					color: #fff
					text-align: left
					font-size: 13vw
					padding: 0 235vw 0 0
					height: 100%
					&_border
						width: 170vw
						position: relative
						right: 185vw
						border-bottom: .5vw solid #fff
		.third-text_wrap
			height: 100%
			margin-top: 3vw
			.bubble_tea
				position: relative
				&::after
					content: ''
					position: absolute
					top: 0
					left: -11vw
					width: 5vw
					height: 5vw
					background-color: #151515
					border: 1px solid #606060
					border-radius: 10%
					box-shadow: 0px 5px 20px rgba(250, 231, 55, 0.5)
					transform: rotate(342deg)
					z-index: 1
				&::before
					content: ''
					position: absolute
					top: 0.5vw
					left: -10.5vw
					width: 5vw
					height: 5vw
					background-image: url(../icon/bubble_tea.svg)
					background-size: 4vw 4vw
					background-repeat: no-repeat
					z-index: 2
			.advantage__subtitle
				display: flex
				align-items: flex-end
				flex-direction: column
				justify-content: center
				align-content: center
				height: 14vw
				.third-text
					@include Fifaks
					color: $second-color
					text-align: left
					font-size: 13vw
					height: 100%
					&_border
						width: 120vw
						position: relative
						left: 95vw
						border-bottom: .5vw solid #F9DC2C
@media screen and ( max-width: 500px	)
	.first-text
		font-size: 23vw
	.second-text
		font-size: 23vw
	.third-text
		font-size: 23vw
