.phone__app
	background-color: #F1E03B
	position: relative
	z-index: 999
	&-wrap
		display: flex
		justify-content: center
		align-items: center
		height: 100vh
	&-img
		display: flex
		justify-content: center
		align-items: center
		transition: 4s
		img
			display: block
			max-width: 70%
			max-height: 100%
			object-fit: cover
