.phone__app
	background-color: #F1E03B
	height: 100vh
	&-wrap
		width: 100vw
		height: 100%
		display: flex
		justify-content: center
		align-items: center
	&-img
		display: flex
		justify-content: center
		align-items: center
		img
			display: block
			max-width: 70%
			max-height: 100%
			object-fit: cover
