.phone__app
	height: 80vh
	background-color: #F1E03B
	display: flex
	justify-content: center
	position: relative
	z-index: 999
	&-wrap
		display: flex
		align-items: flex-start
		.first__phone
			display: flex
			position: relative
			backface-visibility: hidden
			bottom: 33%
			&-img
				width: 24vw
				object-fit: contain
		.second__phone
			display: flex
			position: relative
			backface-visibility: hidden
			top: -10%
			&-img
				width: 29vw
				object-fit: contain
		.third__phone
			display: flex
			position: relative
			backface-visibility: hidden
			bottom: 33%
			&-img
				width: 24vw
				object-fit: contain

@media screen and ( max-width: 500px	)
	.phone__app
		height: 70vh
		.phone__app-wrap
			flex-direction: column
			.first__phone
				order: 2
				z-index: 2
				margin: 0 auto
				padding: 10vw 0 10vw 0
				position: relative
				bottom: -25%
				&-img
					width: 60vw
			.second__phone
				order: 1
				z-index: 1
				position: relative
				top: 40%
				&-img
					width: 65vw
			.third__phone
				order: 3
				z-index: 3
				position: relative
				padding-top: 14vw
				bottom: 20%
				&-img
					width: 65vw
