.footer
	height: 100%
	background-color: rgba(0, 0, 0, 1)
	background-image: url(../img/logo.png)
	background-size: 85vw
	background-repeat: no-repeat
	background-position: 50% 75%
	border-width: 2px 0
	border-style: solid
	border-color: rgba(111, 111, 111, .2)
	position: relative
	z-index: 997
	opacity: 0.99
	&__wrap
		height: 100%
		display: flex
		justify-content: flex-start
		align-items: flex-start
		margin: 2vw 0 4vw 0
		gap: 11vw
	&__social
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0 0 10vw 7vw
		.link__wrap
			display: flex
			&-social
				a
					margin-right: 1vw
				img
					width: 3vw
					transition: .4s
					&:hover
						transform: scale(1.2, 1.1)
			&-contacts
				display: flex
				.mail
					@include Inter
					display: flex
					align-items: center
					color: #039BE5
					font-weight: 500
					font-size: 1vw
					margin: 0 2vw 0 0
					transition: .4s
					&::before
						content: ""
						display: block
						width: 2vw
						height: 1vw
						background: url(../icon/mail.svg) no-repeat
						background-size: 2vw 1vw
					&:hover
						transform: scale(1.1, 1.1)
				.phone
					@include Inter
					width: 20vw
					display: flex
					align-items: center
					color: #fff
					font-weight: 500
					font-size: 1vw
					margin: 0
					transition: .4s
					&::before
						content: ""
						display: block
						width: 2vw
						height: 2vw
						background: url(../icon/phone.svg) no-repeat
						background-position: 0% 50%
						background-size: 2vw 1.5vw
					&:hover
						transform: scale(1.1, 1.1)
	.copyright
		@include Inter
		color: #fff
		padding: 1vw 0 0 11vw
		font-size: 1vw
		span
			font-weight: 700
			margin-left: 2vw
@media screen and ( max-width: 500px	)
	.footer
		background-size: 95vw
		&__wrap
			flex-direction: column
			.footer__social
				flex-direction: column
				width: 100%
				padding: 0
				margin-top: 4vw
				.link__wrap-social
					img
						width: 10vw
				.link__wrap-contacts
					width: 100%
					height: 6vh
					flex-direction: column
					.mail
						font-size: 4vw
						margin: 1vw 21vw
						&::before
							width: 7vw
							height: 5vw
							background-size: 6vw 5vw
							margin-right: 1vw
					.phone
						width: 100vw
						font-size: 4vw
						margin: 1vw 25vw
						&::before
							width: 8vw
							height: 7vw
							background-size: 7vw 6vw
							margin-right: 1vw
		.copyright
			width: 100vw
			font-size: 3vw
			padding: 0
			margin-top: 9vw
			display: flex
			justify-content: center
			span
				margin-left: 5vw
