.header__wrap
	display: flex
	flex-wrap: wrap
	background-color: $main-color
	height: 100vh

.header__nav
	width: 100%
	display: flex
	justify-content: flex-end
	padding: 70px 236px 0 0
	padding-right: 15vw
	padding-top: 3vw
	&-block
		width: 16vw
		font-size: 60px
		img
			width: 13vw

.header__content
	width: 100%
	margin: 0 auto
	&-cup
		width: auto
		display: flex
		align-items: flex-end
		justify-content: space-evenly
		img
			width: 17vw
	&-sandwich
		width: auto
		display: flex
		align-items: flex-end
		justify-content: space-between
		margin: 0 9vw
		img
			width: 22vw
	&-text
			@include Fifaks
			color: #FAE737
			font-size: 18vw
			letter-spacing: 0.079em
			line-height: 112%
			text-shadow: 0px -4.35354px 97.9546px #A0A337, 0px 39.0128px 468.154px #EBE213
			margin-right: 10vw
