.header__wrap
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	align-content: stretch
	background-color: $main-color
	height: 100vh

.header__nav
	width: 100%
	display: flex
	justify-content: flex-end
	padding: 3vw 15vw 0 0
	&-block
		width: 16vw
		img
			width: 13vw

.header__content
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	width: 100%
	&-cup
		display: flex
		align-items: flex-end
		justify-content: center
		.left_animation
			@include Fifaks
			display: block
			color: #FAE737
			font-size: 18vw
			letter-spacing: 0.079em
			line-height: 112%
			text-shadow: 0px -4.35354px 97.9546px #A0A337, 0px 39.0128px 468.154px #EBE213
			margin-right: 5vw
			transition: 4s
			&.active
				transform: translateX(-80vw)
				opacity: 0
		.cup
			width: 17vw
			margin-right: 5vw
			&.active
	&-sandwich
		display: flex
		align-items: flex-end
		justify-content: space-evenly
		.right_animation
			@include Fifaks
			color: #FAE737
			font-size: 18vw
			letter-spacing: 0.079em
			line-height: 112%
			text-shadow: 0px -4.35354px 97.9546px #A0A337, 0px 39.0128px 468.154px #EBE213
			margin-right: 5vw
			&.active
				animation-name: right
				animation-duration: 1s
		.sandwich
			width: 23vw
			.active
				animation: sandwich
