.instruction
	background-color: $main-color
	overflow: hidden
	display: flex
	flex-direction: column
	position: relative
	z-index: 999
	height: 100%
	&__wrap-text
		width: 76%
		margin: 0 auto
		height: 50vh
		.text__wrap
			width: 80%
			margin: 0 auto
			h2
				@include Inter
				font-size: 8vw
				color: #fff
				letter-spacing: 0.2vw
				text-align: left
				span
					@include Pokemon
					font-size: 6.5vw
					color: #fae838
					letter-spacing: -0.9vw
		.smile
			position: relative
			top: -16vw
			left: 60vw
			width: 15vw
		.bottle
			position: relative
			top: 10vw
			left: 8vw
			width: 25vw

.instruction__step-wrap
	display: flex
	justify-content: center
	gap: 1vw

.first-card
	width: 27vw
	height: 31vw
	display: flex
	flex-direction: column
	align-items: center
	background: #fae838
	border-radius: 5%
	.number__first-card
		margin: 5vh 16vw 9vh 2vw
		padding: 0vw 1vw 2vh 1vw
		background-color: #151515
		border-radius: 15%
		@include Pokemon
		font-size: 3.5vw
		color: #fff
	.subtitle
		@include Inter
		font-size: 2vw
		padding: 0 6vw 0 2vw
	img
		position: absolute
		width: 15vw
		margin-top: 2vw
		margin-left: -3vw
		animation: heart 1.2s infinite ease-in-out

.second-card
	width: 27vw
	height: 31vw
	display: flex
	flex-direction: column
	align-items: center
	background: #fae838
	border-radius: 5%
	margin-bottom: 10vw
	margin-top: 55vw
	.number__second-card
		margin: 5vh 16vw 9vh 2vw
		padding: 0vw 1vw 2vh 1vw
		background-color: #fff
		border-radius: 15%
		@include Pokemon
		font-size: 3.5vw
		color: #000
	.subtitle
		@include Inter
		font-size: 2vw
		padding: 0 11vw 0 0
	img
		position: absolute
		width: 23vw
		margin-left: -6vw
		margin-top: -4vw

.third-card
	width: 27vw
	height: 31vw
	display: flex
	flex-direction: column
	align-items: center
	background: #151515
	border-radius: 5%
	margin-bottom: 25vw
	margin-top: 20vw
	.number__third-card
		margin: 5vh 16vw 9vh 2vw
		padding: 0vw 1vw 2vh 1vw
		background-color: #fae838
		border-radius: 15%
		@include Pokemon
		font-size: 3.5vw
		color: #000
	.subtitle
		@include Inter
		color: #fff
		font-size: 2vw
		padding: 0 6vw 0 2vw
	img
		position: absolute
		width: 15vw
		margin-top: -5vw
		margin-left: -3vw
@media screen and ( max-width: 500px	)
	.instruction
		&__wrap-text
			width: 100vw
			text-align: center
			height: 25vw
			margin-bottom: 15vw
			.text__wrap
				width: 77%
				h2
					font-size: 10vw
					span
						font-size: 8.5vw
			.smile
				width: 23vw
				top: -48vw
				left: 65vw
			.bottle
				top: 60vw
				left: -12vw
				width: 60vw
		&__step-wrap
			flex-direction: column
			-webkit-flex-direction: column
			.first-step
				order: 1
				.first-card
					width: 50vw
					height: 60vw
					margin-left: 5vw
					gap: 4vw
					.number__first-card
						margin: 2vh 29vw 0vh 0vw
						padding: 1vw 2vw 2vw 2vw
						font-size: 5.5vw
					.subtitle
						font-size: 4vw
						padding: 2vw 6vw 3vw 3vw
					img
						width: 30vw
						margin-left: -8vw
			.second-step
				order: 3
				.second-card
					width: 50vw
					height: 60vw
					margin-left: 5vw
					margin-top: 0
					gap: 4vw
					.number__second-card
						margin: 2vh 27vw 0vh 0vw
						padding: 1vw 2vw 2vw 2vw
						font-size: 5.5vw
					.subtitle
						font-size: 4vw
						padding: 2vw 18vw 3vw 0vw
					img
						width: 45vw
						margin-top: -13vw
						margin-left: -13vw
			.third-step
				order: 2
				.third-card
					width: 50vw
					height: 60vw
					margin-bottom: 5vw
					margin-top: 40vw
					margin-left: 45vw
					.number__third-card
						margin: 2vh 28vw 0vh 0vw
						padding: 1vw 2vw 2vw 2vw
						font-size: 5.5vw
					.subtitle
						font-size: 4vw
						padding: 2vw 6vw 3vw 3vw
					img
						width: 26vw

@keyframes heart
	0%
		transform: scale(1)
	50%
		transform: scale(1.1)
	100%
		transform: scale(1)
