.order
	background-color: $main-color
	z-index: 100
	height: 100%
	position: relative
	z-index: 999
	&::before
		content: ""
		display: block
		position: relative
		top: 45vw
		left: 42vw
		width: 20vw
		height: 11vw
		background: url(../img/chocolate.png) no-repeat
		background-size: 12vw
		z-index: 1
	&::after
		content: ""
		display: block
		position: relative
		top: -9vw
		left: 42vw
		width: 20vw
		height: 11vw
		background: url(../img/smile-order.png) no-repeat
		background-size: 21vw
		z-index: 1
	&__title
		width: 100%
		height: 100%
		h2
			@include Inter
			color: #fff
			text-align: center
			font-size: 7vw
			padding-bottom: 47px
			text-align: center
			span
				position: relative
				@include Fifaks
				color: #FAE838
				font-size: 8.5vw
				vertical-align: bottom
	&__card-wrap
		display: flex
		flex-direction: column
		align-items: center
	&__card
		width: 100%
		display: flex
		justify-content: space-around
		align-items: center
		padding: 2vw 0
		border-width: 2px 0
		border-style: solid
		border-color: rgba(111, 111, 111, .2)
	.first__card
		div
			width: 30vw
			display: flex
			flex-direction: column
			align-items: flex-end
			justify-content: center
		img
			width: 23vw
			object-fit: cover
		p
			@include Inter
			color: #fff
			font-size: 3vw
		button
			@include Inter
			width: 9vw
			height: 6vw
			font-size: 1.5vw
			font-weight: 600
			color: #000
			background-color: #fae838
			border-color: #fae838
			border-radius: 20%
			margin: 3vw 5vw 0 0
			transition: .4s
			&:hover
				cursor: pointer
				box-shadow: 0px 5.19896px 15.39791px rgba(241, 224, 59, 0.25), 5px 41.9895px 83.9791px rgba(241, 224, 59, 0.25)
	.second__card
		div
			width: 30vw
			display: flex
			flex-direction: column
			align-items: flex-end
			justify-content: center
		img
			width: 21vw
			object-fit: cover
		p
			@include Inter
			color: #fff
			font-size: 3vw
		button
			@include Inter
			width: 9vw
			height: 6vw
			font-size: 1.5vw
			font-weight: 600
			color: #000
			background-color: #fae838
			border-color: #fae838
			border-radius: 20%
			margin: 3vw 5vw 0 0
			transition: .4s
			&:hover
				cursor: pointer
				box-shadow: 0px 5.19896px 15.39791px rgba(241, 224, 59, 0.25), 5px 41.9895px 83.9791px rgba(241, 224, 59, 0.25)
	.third__card
		div
			width: 30vw
			display: flex
			flex-direction: column
			align-items: flex-end
			justify-content: center
		img
			width: 23vw
			object-fit: cover
		p
			@include Inter
			color: #fff
			font-size: 3vw
		button
			@include Inter
			width: 9vw
			height: 6vw
			font-size: 1.5vw
			font-weight: 600
			color: #000
			background-color: #fae838
			border-color: #fae838
			border-radius: 20%
			margin: 3vw 5vw 0 0
			transition: .4s
			&:hover
				cursor: pointer
				box-shadow: 0px 5.19896px 15.39791px rgba(241, 224, 59, 0.25), 5px 41.9895px 83.9791px rgba(241, 224, 59, 0.25)
@media screen and ( max-width: 500px	)
	.order
		overflow: hidden
		&::before
			top: 80vw
			left: 70vw
			width: 20vw
			height: 18vw
			background-size: 19vw
		&::after
			top: -12vw
			left: 69vw
			width: 27vw
			height: 17vw
			background-size: 28vw
			transform: rotate(17deg)
		.order__title
			width: 50%
			margin: 0 auto
			h2
				font-size: 9vw
				text-align: left
				line-height: 12vw
				span
					font-size: 11vw
		.order__card
			justify-content: flex-start
			align-items: flex-start
			padding: 5vw 0
		.first__card
			margin-left: 10vw
			img
				width: 30vw
			div
				width: 55vw
				margin-left: 3vw
				align-items: flex-start
				p
					font-size: 6vw
				button
					width: 20vw
					height: 13vw
					font-size: 4.5vw
		.second__card
			margin-left: 7vw
			img
				width: 25vw
			div
				width: 55vw
				margin-left: 9vw
				align-items: flex-start
				p
					font-size: 5vw
				button
					width: 20vw
					height: 13vw
					font-size: 4.5vw
		.third__card
			img
				width: 30vw
			div
				width: 55vw
				margin-left: 6vw
				align-items: flex-start
				p
					font-size: 5vw
				button
					width: 20vw
					height: 13vw
					font-size: 4.5vw
