.sale
	position: relative
	height: 55vw
	background-color: $main-color
	&::before
		content: ""
		position: absolute
		display: block
		width: 30vw
		height: 30vw
		top: 17vw
		background: url(../img/smile-money.png) no-repeat
		background-size: 30vw 30vw
	&::after
		content: ""
		position: absolute
		display: block
		width: 30vw
		height: 30vw
		top: -0.9vw
		right: 0.1vw
		background: url(../img/smile-exploding.png) no-repeat
		background-size: 30vw 30vw
	&__wrap
		display: flex
		width: 100vw
		height: 100%
		justify-content: space-evenly
		align-items: center
	&__app
		width: 30vw
		display: flex
		flex-direction: column
		h2
			@include Fifaks
			color: $second-color
			font-size: 5vw
			width: 30vw
			margin-bottom: 18px
		p
			@include Inter
			color: #fff
			width: 22vw
			margin-bottom: 40px
		&-block
			width: 30vw
			display: flex
			a
				width: 10vw
				height: 2vw
				margin-right: 1vw
				position: relative
				z-index: 1
				img
					width: 10vw
	&__phone
		width: 20vw
		span
			position: relative
			&::before
				content: ""
				position: absolute
				display: block
				width: 35vw
				height: 33vw
				left: 1vw
				bottom: 0vw
				background: url(../img/woooow.png) no-repeat
				background-size: 35vw 31vw
			&::after
				content: ""
				position: absolute
				display: block
				width: 20vw
				height: 20vw
				left: -13vw
				top: -13vw
				background: url(../img/woooooow_left.png) no-repeat
				background-size: 20vw 20vw
		img
			width: 23vw
			position: relative
			z-index: 1
